/* Palette di colori */

:root {
  --panna-carta: #F8F4EA; 
  --antracite-scuro: #2A2A2A; 
  --marrone-cuoio: #6F4E37; 
  --verde-ottanio: #2C5551; 
  --rosso-ruggine: #A93F35; 
  --beige-scuro: #D2C8B4; 
  --grigio-taupe: #7A756D; 
}